  .top-box {
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    color: #f1f1f1;
    width: 650px;
    border-collapse: collapse;
    margin: 0px auto 8px auto;
    padding: 5px;
    border: 2px ridge #3c3c3c;
    text-align: center;
  }

  ::placeholder {
    color: #f1f1f1;
  }

input {
    border-collapse: collapse;
    color: #f1f1f1;
    background-color: #34353b;
    line-height: 17px;
    border: 1px solid #8d8d8d;
    margin: 3px 1px 0;
    padding: 1px 3px 3px;
    border-radius: 3px;
}
  .btn {
    border-collapse: collapse;
    color: #f1f1f1;
    background-color: #34353b;
    min-height: 26px;
    line-height: 20px;
    padding: 1px 5px 2px;
    margin: 0 2px;
    border: 2px solid #8d8d8d;
    border-radius: 3px;
    font-size: 9pt;
  }
