.button-page {
    color: #f1f1f1;
    background-color: #34353b;
    height: inherit;
    width: 5%;
    margin: 0 2px;
    border: 2px solid #8d8d8d;
}

#pages-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px ridge #3c3c3c;
  }
