<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ gallery_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <div style="display:flex;">
        <button class="button-page" onclick="location.href = '{{base_url}}/{{page_number - 1}}'">&lt;</button>
        <div class="imgbox" onclick="location.href = '{{ gallery_url }}'">
            <img class="center-fit" src="{{ image_url }}{{ page }}" />
        </div>
        <button class="button-page button-page-right"
        onclick="location.href = '{{base_url}}/{{page_number + 1}}'">&gt;</button>
    </div>
</body>

</html>
