<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ gallery_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles.css" rel="stylesheet">
</head>

<body>
    <form style="display:inherit;" id="form-page">
        <div style="display:flex;">
            <button type="button" class="button-page" onclick="doSubmit(-1)">&lt;</button>
            <div class="imgbox" onclick="doSubmit(1)">
                <img class="center-fit" src="{{ image_url }}{{ page }}" />
            </div>
        </div>
        <div>
        <script>
        function doSubmit(move) {
            const form = document.querySelector('#form-page')
            form.action = "{{base_url}}/" + ({{ page_number }} + move)
            form.submit()
        }
        </script>
    </form>
    <form action="{{ gallery_url }}">
        <button type="submit">To Chapter Selection</button>
    </form>
</body>

</html>
